<!-- <mat-toolbar>
  <mat-toolbar-row>
    <span>Movie Tinder</span> -->
<!-- This fills the remaining space of the current row -->
<!-- <span class="example-fill-remaining-space"></span>
    <span>Right Aligned Text</span> -->
<!-- </mat-toolbar-row>
</mat-toolbar> -->

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="btn btn-primary btn-margin" routerLink="/">
          Home
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="!authService.isAuthenticated()"
        routerLink="/login">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="authService.isAuthenticated()"
        (click)="authService.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav> -->

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<main class="container">
  <router-outlet></router-outlet>
</main>